div {
    display: block;
    /* border: 1px solid black; */
    margin: 60px;
}

h4 {
    margin: 20px;

    display: inline;
    overflow: hidden;
}

#two {
    position: relative;
}

span {
    position: absolute;
    background-color: black;
    padding: 5px 10px;
    color: white;
    opacity: 0.9;
    border-radius: 6px;
}